<!DOCTYPE html>
<html>
<head>
  <title>Madlibs game!</title>
    <link rel="stylesheet" href="./static/madlibs.css">
</head>
<body>
    <form action="/madlib">
        Enter a person here:<input type="text" name="person"><br>
        Enter a color here:<input type="text" name="color"><br>
        Enter a noun here:<input type="text" name="noun"><br>
        Enter an adjective here:<input type="text" name="adjective"><br>
        Do you like ghost stories?<br>
        <input type="radio" name="ghost" value="yes">Yes!<br>
        <input type="radio" name="ghost" value="no">Noo why<br>
        What animals do you like?
        <input type="checkbox" name="animal" value="owl">Owl<br>
        <input type="checkbox" name="animal" value="bily_goat">Billy Goat<br>
        <input type="checkbox" name="animal" value="hippo">Hippo<br>
        <input type="checkbox" name="animal" value="weasel">Weasel<br>
        <input type="checkbox" name="animal" value="porpoise">Porpoise<br>
        <input type="submit">        

    </form>
</body>
</html>